@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik+Vinyl&display=swap');

$font-color: #000;
$hover-color: #FF69B4;
$font-family: 'Quicksand', sans-serif;
$blue-bg-color: hsl(190, 64%, 78%);
$pink-bg-color: pink;


header {
  background-color: $font-color;
  display: flex;
  justify-content: center;
  width: 1200px;
}

header img {
  align-self: center;
  max-width: 1200px;
  margin-top: 0;
  background-color: $font-color;

}


.toolbar {
  position: sticky;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: $font-color;
  color: #eee;
  width: 1200px;
  z-index: 1;
}

.cart {
  cursor: pointer;
}



.wrapper {
  max-width: 1200px;
  background-color: $pink-bg-color;

}

body {
  width: 100%;
  background-image: url("/src/candybg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 100vh;
}

h1 {
  font-family: "Rubik Vinyl", cursive;
  font-size: 100px
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold
}

.col-3 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0 ;
  margin-bottom: 20px;
  margin-top: 20px;
}

.col-3 img {
margin-top: 10px;
align-self: center;

}

h3 {
font-size: 15px;
text-align: center;
padding: 5px;
}

.btn-info, .btn-success, .btn-danger {
padding: 5px;
font-size: 12px;
width: 15.75vw;
align-self: center;

}



h2 {
  font-size: 1.4rem
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .4rem;
  width: 900px;
  padding: 1.3rem;
  height: 900px;
  position: fixed;
  background-color: $blue-bg-color;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: .7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: .9em
}

.modal p {
  font-size: .9rem;
  color: #777;
  margin: .4rem 0 .2rem
}


.infoCandy img {
  border-radius: 25%;
  padding: 25px;
  margin-left: 75px;
  width: 50%;
  
 
  
}

button {
  cursor: pointer;
  border: none
}

.btn {
  display: inline-block;
  padding: .8rem 1.4rem;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1em
}

.btn-close {
  transform: translate(10px, -20px);
  padding: .5rem .7rem;
  background: $blue-bg-color;
  border-radius: 0%;

}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1
}

.hidden {
  display: none
}

footer {
  width: 100%;
  text-align: center;
  background-color: $font-color;
  color: #eee;
  margin-top: 20px;
  padding: 5px;
}

footer a {
  color: #eee;
}

/*# sourceMappingURL=style.css.map */

.card-text {
  text-align: center;
}

/* Cart Modal styling */

.cartModal {
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  height: 900px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: $blue-bg-color;;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.cartModal .cartView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cartModal {
  z-index: 2;
}

.cartModal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.cartItems {
  font-size: 14px;

}

.cartModal p {
  font-size: 0.9rem;
  color: $font-color;
  font-style: italic;
  margin: 0.4rem 0 0.2rem;
}

.btn-close-cart {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background-color: $blue-bg-color;


}

.btn-plus, .btn-minus  {
  background-color: $blue-bg-color;
  font-weight: bold;
  padding: 5px;
  border-radius: 0%;
  border: none;
  
}

.btn-minus, .btnRemove {
--bs-btn-hover-bg: rgb(201, 44, 44);
}

.btn-plus {
  --bs-btn-hover-bg: rgb(77, 202, 39);
}

.btnRemove, .orderBtn {
  background-color: $blue-bg-color;
  margin-bottom: 10px;
  padding: 5px;
}

.orderBtn {
  
  padding: 5px;
  --bs-btn-hover-bg: rgb(255 192 203);
}


.hidden {
  display: none;
}

.row {
  margin-left: 10px;
}

form {
  padding: 50px;
  width: 1200px;
  text-align: center;

}

form #submitbtn {
  margin-top: 20px;
  --bs-btn-hover-bg: hsl(190, 64%, 78%);
  border: 1px solid black;
  border-radius: 0%;
  color: $font-color;
}

#backbtn {
  border: 1px solid black;
  padding: 5px;
  --bs-btn-hover-bg: hsl(190, 64%, 78%);
  border-radius: 0%;
  color: $font-color;
}



a  {
  color: #000;
  text-decoration: none;

}

p.sidenote  {
  font-size: 0.7em;
  text-align: left;
  font-style: italic;


}

.cartView button {
  color: $font-color;
}

.goToTop {
  display: flex;
  justify-content: center;
}

.orderRes {
  margin-top: 25px;
  text-align: center;
  width: 1200px;
}

.homeBtn {
  border: 1px solid black;
  padding: 5px;
  --bs-btn-hover-bg: hsl(190, 64%, 78%);
  border-radius: 0%;
  color: $font-color;
}



@media screen and (min-width: 280px) and (max-width: 599px) {


  body {
    background-image: none;

  }

  .orderRes {
    margin-top: 25px;
    text-align: center;
    width: 100vw;
    height: 50vh;
  }

  .candyProducts {
    margin-left: 0px;
  
  }

  .btn-danger {
   font-size: 12px;
   padding: 5px;
  }



  .cartModal {

    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position: fixed;
    border-radius: 0%;
    overflow: scroll;
  }

  .modal {
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position: fixed;
    border-radius: 0%;
    overflow: scroll;
   
  }

  .btn-close {
    margin-top: 80px;

 
   
   }

  
.infoCandy img {
  border-radius: 25%;
  padding: 5px;
  width: 65vw;
 
}


  header img {
    max-width: 100vw;
  }

  header {
   
    max-width: 100vw;
  }


  .wrapper {
    background-color:$pink-bg-color;
    max-width: 100vw;

  }

  .toolbar {
    width: 100vw;
  }

  h1 {
    font-size: 50px;
  }
 

  .col-3 {
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding:0 ;
}

.col-3 img {
  margin-top: 10px;
  align-self: center;
  width: 50%;

}

h3 {
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.btn-info, .btn-success, .btn-danger {
  padding: 5px;
  font-size: 12px;
  width: 30vw;
  align-self: center;
  
}


form {
  padding: 50px;
  width: 100vw;

  text-align: center;
}




}


@media screen and (min-width: 600px) and (max-width: 1080px) {

  form {
    padding: 50px;
    width: 100vw;
  
    text-align: center;
  }

  .orderRes {
    margin-top: 25px;
    text-align: center;
    width: 100vw;
    height: 50vh;
  }



  header img {
    max-width: 100vw;
  }

  header {
    max-width: 100vw;
  }

  .btn-danger {
    font-size: 12px;
    padding: 5px;
    
   }
 


  form {
    padding: 100px;
  }

  body {
    background-color: $pink-bg-color;
    background-image: none;
  }

  .wrapper {

  
    background-color:$pink-bg-color;
    width: 100vw;
 

  }

  .toolbar {
    width: 100%;
  }

  h1 {
    font-size: 50px;
  }
 

.col-3 img {
  margin-top: 10px;
  align-self: center;
  width: 75%;
  

}

.col-3 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.row {
  justify-content: center;
  
}

h3 {
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.btn-info, .btn-success {
  padding: 5px;
  font-size: 12px;

}

.cartModal {

  width:50%;
  height:100%;
  top:0px;
  right:0px;
  position: fixed;
  border-radius: 0%;
  overflow: scroll;
}


}




